{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Transaction_Type</th>
            <th>Stock Symbol</th>
            <th>Price</th>
            <th>Shares Sold/Bought</th>
            <th>Date/Time</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{% if transaction.transaction_type == 1 %}
                Buy {% elif transaction.transaction_type == 2 %} Sell
                {% endif %}
            </td>
            <td>{{transaction.stock_symbol}}</td>
            <td>{{transaction.price}}</td>
            <td>{{transaction.shares}}</td>
            <td>{{transaction.current_time}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}