{% extends "layout.html" %}
{% block title %}
    Sell
{% endblock %}
{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" placeholder="Select Stock">
            <option selected disabled>Select Stock</option>
            {% for stock in stocks %}
                <option value={{stock.stock_symbol}}> {{stock.stock_name}} </option>
            {% endfor %}
        </select>
        <input type="number" min = 1 autofocus autocomplete="off" placeholder="Number of Shares" name="shares">
        <button type="submit">Submit</button>
    </form>
{% endblock %}