{% extends "layout.html" %}

{% block title %}
    Profolio
{% endblock %}

{% block main %}
    Add Cash
    <form action="/addcash"method="post">
        <input name="add" autofocus autocomplete="off" placeholder="Insert Amount" type="number" min="0">
        <button type="submit">Add Cash</button>
    </form>
    <br>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        {% for stock in stocks %}
        <tr>
            <td>{{stock.stock_symbol}}</td>
            <td>{{stock.stock_name}}</td>
            <td>{{stock.total_shares}}</td>
            <td>{{usd(stock.price)}}</td>
            <td>{{usd(stock.total_shares * stock.price)}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th><bold>Cash</bold></td>
            <td>{{usd(users.cash)}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th>TOTAL</th>
            <td>{{usd(total + users.cash)}}</td>
        </tr>
    </table>
{% endblock %}